.body {
  font-family: "DM Sans";
  color: var(--paragraph-color);
  font-size: 16px;
  line-height: 150%;
  font-weight: 400;
}

.hero-mini-info-box {
  position: absolute;
  inset: auto auto 36px 40px;
  display: flex;
  padding: 60px 20px;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  gap: 40px;
  border-radius: 20px;
  background-color: var(--white);
}

.hero-mini-info-box.mobile-hide {}

@media screen and (max-width: 991px) {
  .hero-mini-info-box {
    left: 20px;
    bottom: 20px;
    padding: 20px;
  }
}

@media screen and (max-width: 767px) {
  .hero-mini-info-box {
    inset: auto 20px 20px;
    padding: 20px;
    border-radius: 15px;
  }
}

@media screen and (max-width: 479px) {
  .hero-mini-info-box {
    left: 10px;
    right: 10px;
    border-radius: 12px;
  }
}

@media screen and (max-width: 479px) {
  .hero-mini-info-box.mobile-hide {
    display: none;
  }
}
